@import "../../style.scss";

.leftBar{
    @include themify($themes){
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    flex: 2;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    background-color: themed("bg");
    color: themed("textColor");
    .container{
        padding: 20px;
        .menu{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span{
                    
                }
            }

            .item{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

        }
    }
}
}